[xkb config]
group_policy=2
default_group=0
never_modify_config=false
model=logitech_g15
layouts=us,br
variants=,abnt2
toggle_option=grp:alt_shift_toggle,ctrl:nocaps,terminate:ctrl_alt_bksp
compose_key_position=
